@font-face{
	font-family: DINPro-Regular;
	src: url(../fonts/DINPro-Regular.otf);
}
@font-face{
	font-family: DINPro-Bold;
	src: url(../fonts/DINPro-Bold.otf);
}
body {
	font-family: DINPro-Regular, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
h1 {
	font-family: DINPro-Bold, sans-serif;
	font-weight: bold; /* IE bag */
}
.row {
	margin: 0 !important;
}
.wow {
	visibility: hidden;
}
.yellow-btn {
	font-weight: bold;
	text-align: center;
	padding: 15px;
	background-color: #ffe400;
	border-radius: 5px;
	width: 220px;
	cursor: pointer;
}
.yellow-btn:hover {
	background-color: #f0d917;
}
.modal-window {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: #1cacf3;
	z-index: 2;
	display: none;
	justify-content: center;
	align-items: center;
}
.modal-form {
	width: 290px;
	padding: 35px;
	background-color: white;
	border-radius: 5px;
	position: relative;
}
.modal-form .close-btn {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 30px;
	color: white;
	cursor: pointer;
}
.modal-form .close-btn:before,
.modal-form .close-btn:after {
	content: '|';
	display: block;
	position: absolute;
	top: -8px;
}
.modal-form .close-btn:before {
	transform: rotate(45deg);
	left: 10px;
}
.modal-form .close-btn:after {
	transform: rotate(-45deg);
	left: 8px;
}
.modal-form h1 {
	margin: 0 0 15px;
}
.modal-form p {
	font-size: 14px;
}
.modal-form [type="text"] {
	border-radius: 3px;
	margin: 10px 0;
	box-shadow: 0 0 1px silver;
	border: none;
	width: 100%;
	padding: 12.5px 0 15px 15px;
	font-family: DINPro-Bold, sans-serif;
}
#check {
	display: none;
}
.modal-form label[for="check"] {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	background-color: #ffe400;
	position: relative;
	top: 7px;
	margin-right: 7px;
	cursor: pointer;
}
.modal-form label[for="check"]:before {
	content: '';
	display: none;
	width: 9px;
	height: 6px;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 2px;
	transform: rotate(-45deg);
	position: absolute;
	top: 4px;
	left: 3px;
}
#check:checked ~ label[for="check"]:before {
	display: block;
}
#check:checked ~ .yellow-btn {
	visibility: visible;
}
.modal-form span {
	font-size: 14px;
}
.modal-form .yellow-btn {
	border: none;
	margin: 20px auto 0;
	width: 100%;
	visibility: hidden;
}

/* header */
.header {
	padding: 15px 0;
}
.header .row {
	display: flex;
}
.header [class^="col"] {
	padding: 10px 15px;
	display: flex;
	align-items: center;
}
.header p {
	line-height: 16px;
	margin: 0 10px;
}
.header .left p {
	font-size: 12px;
}
.header h1 {
	margin: 0;
	padding: 0;
}
.header .tel {
	font-family: DINPro-Bold, sans-serif;
	font-weight: bold; /* IE bag */
	font-size: 16px;
}
.header .slogan {
	width: 170px;
	font-size: 14px;
}
@media screen and (max-width: 991px) {
	.header {
		padding: 0;
	}
	.header .row {
		display: block;
	}
	.header [class^="col"] {
		justify-content: center;
	}
}
@media screen and (max-width: 500px) {
	.header h1 {
		font-size: 23px;
	}
	.header .left p {
		line-height: 14px;
	}
	.header .slogan {
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}
	.header .right {
		flex-wrap: wrap;
	}
}

/* top-block */
.top-block {
	background-color: #fbfbfb;
	overflow-x: hidden;
}
.top-block .container {
	padding: 50px 0 30px;
}
.top-block .think p {
	max-width: 500px;
}
.top-block .blue-baloon {
	color: white;
	padding: 25px 35px 35px;
	max-width: 390px;
	font-size: 18px;
	background: url('../img/blue-baloon.png') no-repeat;
	background-size: 100%;
}
.top-block .pictures {
	position: relative;
}
.top-block .mobile {
	position: relative;
	z-index: 1;
	width: 200px;
}
.top-block .taxi {
	position: absolute;
	width: 320px;
	top: 35%;
	left: 160px;
	animation: move 1s linear;
}
@keyframes move {
	from { left: 20px }
	to { left: 160px; }
}
@keyframes appear {
	from { width: 0 }
	to { width: 100px }
}
.top-block .like {
	position: absolute;
	top: 40px;
	right: 100px;
	width: 100px;
	transition: .5s;
	animation: appear 1s linear;
}
.top-block .like:hover {
	transform: scale(1.2);
	transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
}
.top-block .yellow-btn {
	position: absolute;
	bottom: 0;
	right: 100px;
}
@media screen and (max-width: 1199px) {
	.top-block .like,
	.top-block .yellow-btn {
		right: 10px;
	}
}
@media screen and (max-width: 991px) {
	.top-block .container {
		padding: 25px 0;
	}
	.top-block h1 {
		text-align: center;
	}
	.top-block .think p,
	.top-block .blue-baloon	{
		margin: auto;
	}
}
@media screen and (max-width: 500px) {
	.top-block .yellow-btn {
		position: static;
		margin: 20px auto 0;
	}
	.top-block .like {
		width: 60px;
		top: 20px;
	}
	.top-block .mobile {
		width: 60%;
	}
	.top-block .taxi {
		width: 80%;
	}
}
@media screen and (max-width: 430px) {
	.top-block .blue-baloon	{
		padding: 15px;
		font-size: 14px;
		height: 110px;
		text-align: center;
	}
}

/* border */
.border {
	width: 100%;
}

/* hello */
.hello {
	padding: 100px 0 0;
}
.hello .portret {
	position: relative;
}
.hello .house {
	width: 100px;
	position: absolute;
	left: 10px;
	top: 60px;
	transition: .5s;
}
.hello .house:hover {
	transform: scale(1.2);
	transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);
}
.hello h1 {
	line-height: 46px;
}
.hello .first-p {
	font-size: 24px;
}
.hello .yellow-btn {
	width: 270px;
	margin-top: 30px;
}
@media screen and (max-width: 991px) {
	.hello {
		padding: 25px 0;
	}
	.hello .portret .img-responsive {
		margin: 0 auto;
	}
	.hello h1 {
		text-align: center;
	}
	.hello .yellow-btn	{
		margin: auto;
	}
}
@media screen and (max-width: 500px) {
	.hello .house {
		width: 60px;
	}
}

/* how to sell */
.how-to-sell {
	background-color: #1cacf3;
	color: white;
}
.how-to-sell .container {
	padding: 70px 0;
}
.how-to-sell h1 {
	text-align: center;
}
.how-to-sell .two-news {
	text-align: center;
	font-size: 19px;
	margin-bottom: 30px;
}
.how-to-sell .bad,
.how-to-sell .good {
	padding: 10px 15px;
}
.how-to-sell  .bad {
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.how-to-sell  .bad  p {
	margin-right: 35px;
}
.how-to-sell .yellow-baloon {
	color: black;
	padding: 25px 35px 90px;
	max-width: 450px;
	background: url('../img/yellow-baloon.png') no-repeat;
	background-size: 100%;
}
.to-do {
	display: flex;
	margin-top: 15px !important;
}
.to-do [class^="col"] {
	display: flex;
}
.to-do ul {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	list-style: none;
	margin: 0;
}
.to-do li {
	position: relative;
	margin: 20px 0;
	padding-left: 15px;
}
.to-do li:before {
	content: url('../img/small-v.png');
	position: absolute;
	left: -40px;
}
.to-do li.one-line:before {
	top: -5px;
}
@media screen and (max-width: 1199px) {
	.how-to-sell  .bad {
		justify-content: center;
	}
	.how-to-sell .yellow-baloon {
		margin: 15px auto;
	}
}
@media screen and (max-width: 991px) {
	.to-do {
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.how-to-sell .container {
		padding: 35px 0;
	}
	.how-to-sell h1,
	.how-to-sell .two-news {
		padding: 0 10px;
	}
	.how-to-sell .two-news {
		margin-bottom: 0;
	}
	.how-to-sell  .bad  p:last-child {
		margin-right: 0;
	}
}
@media screen and (max-width: 430px) {
	.how-to-sell .yellow-baloon	{
		padding: 15px;
		font-size: 14px;
		height: 150px;
		text-align: center;
	}
}
@media screen and (max-width: 360px) {
	.how-to-sell .yellow-baloon	{
		padding: 5px 10px;
		height: 120px;
	}
}

/* success */
.success {
	padding: 50px 0;
}
.success h1 {
	text-align: center;
}
.success [class^="col"] {
	padding: 15px 10px;
}
.success .sub-title-wrap {
	display: flex;
	align-items: center;
}
.success .sub-title {
	font-size: 20px;
	padding-left: 30px;
	max-width: 300px;
}
.success .text {
	padding: 20px 5px 35px;
	max-width: 480px;
}
.success .glavnoe-wrap {
	text-align: center;
	padding: 10px;
}
.success .glavnoe-wrap p {
	margin: 0;
}
.success .glavnoe-wrap h1 {
	margin: 0 0 25px 0;
}
.success .glavnoe {
	font-size: 20px;
	padding: 25px 0;
}
.success .yellow-btn {
	margin: 10px auto;
}
@media screen and (max-width: 991px) {
	.success .text {
		max-width: 100%;
	}
}

/* why we */
.why-we {
	display: flex;
}
.dollar-house {
	background-color: #fcfcfc;
	width: 47%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.why-we-text {
	color: white;
	background-color: #1cacf3;
	width: 53%;
	padding: 50px 80px;
}
.why-we-text p {
	max-width: 440px;
	margin-bottom: 25px;
}
.why-we-text .first-p {
	font-size: 20px;
}
@media screen and (max-width: 991px) {
	.why-we {
		display: block;
	}
	.dollar-house,
	.why-we-text {
		width: 100%;
	}
	.why-we-text p {
		max-width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.why-we-text {
		padding: 20px;
	}
}

/* comments */
.comments {
	background-color: #fbfbfb;
	padding: 40px 0 50px;
}
.comments .container {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.comments h1 {
	text-align: center;
}
.comments .comment-item {
	background-color: white;
	border-radius: 5px;
	width: 30%;
	margin: 1.667%;
	padding: 35px 35px 15px;
	box-shadow: 0 0 1px silver;
}
.comments .ava {
	display: flex;
	align-items: center;
}
.comments .ava img {
	width: 80px;
	border-radius: 10px;
	margin-right: 10px;
}
.comments .name span {
	font-weight: bold;
	font-size: 18px;
}
.comments .comment-text {
	line-height: 24px;
	margin-top: 20px;
	max-height: 100px;
	height: auto;
	overflow: hidden;
	transition: .3s;
}
.comments .comment-text.more-text {
	max-height: 100%;
	height: auto;
}
.comments .all {
	color: #00a0f1;
	cursor: pointer;
	font-weight: bold;
}
.comments .all .glyphicon {
	position: relative;
	top: 3px;
	left: 2px;
	transition: .3s;
}
.comments .all .glyphicon.rotate {
	transform: rotate(180deg);
	top: 1px;
}
@media screen and (max-width: 1199px) {
	.comments .comment-item {
		width: 47%;
		margin: 1.5%;
	}
}
@media screen and (max-width: 991px) {
	.comments .container {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.comments .comment-item {
		width: 100%;
		margin: 1.5%;
	}
}

/* together */
.together {
	padding: 35px 10px 60px;
	text-align: center;
	color: white;
	background-color: #1cacf3;
}
.together .first-p {
	font-size: 20px;
	margin: 30px 0 40px;
}
.together .yellow-btn {
	color: black;
	margin: 10px auto;
}

/* footer */
.footer {
	padding: 35px 0 25px;
}
.footer [class^="col"] {
	padding: 10px;
}
.footer h1 {
	margin-top: 0;
}
.footer .left p {
	font-size: 13px;
}
.footer .right {
	display: flex;
	align-items: center;
}
.footer .right p {
	margin: 0 10px;
	font-size: 22px;
}
@media screen and (max-width: 991px) {
	.footer .left {
		text-align: center;
	}
	.footer .right {
		justify-content: center;
	}
	.footer .right p {
		font-size: 16px;
	}
}